<div class="row">
    <div class="col">
        <input #term type="text" (keyup)="search(term.value)" class="form-control" placeholder="Search artist...">
    </div>
</div>

<app-loading class="m-5" *ngIf="loading"></app-loading>

<app-cards [items]="artists"></app-cards>